body{
    background-color: #ccc;

}
h1 {
	color:  red;
	text-align:center;
}
h2 {
	color: blek;
	 text-align:  left;
}
h3 {
	text-align: right;
	color: gray;
}
h4{
    text-align: center;
    color: aqua;
}
